<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OMS">
  <test name="SmokeScenarios">
    <classes>
      <class name="testngWithSelenium.BaseClass"/>
      <class name="testngWithSelenium.DemoTest"/>
      <class name="testngWithSelenium.DemoTest2"/>
    </classes>
  </test> 
  <test name="RegressionScenarios">
    <classes>
      <class name="testngWithSelenium.DemoTest3"/>
      <class name="testngWithSelenium.DemoTest2"/>
    </classes>
  </test>
  <test name="E2EScenarios">
    <classes>
      <class name="testngWithSelenium.DemoTest4"/>
      <class name="testngWithSelenium.DemoTest"/>
      <class name="testngWithSelenium.DemoTest2"/>
      <class name="testngWithSelenium.DemoTest5"/>
      <class name="testng.TestNGDemo3"/>
    </classes>
  </test><!-- Test -->
</suite> <!-- Suite -->
